@model ShoppingCart
@{
    ViewData["Title"] = "Carrito de Compras";
}

<div class="container my-4">
    <div class="row">
        <div class="col-md-8">
            <h5>Mi Carrito de Compras</h5>

            @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Libro</th>
                            <th>Imagen</th>
                            <th>Género</th>
                            <th>Precio Unitario (INR)</th>
                            <th>Cantidad</th>
                            <th>Precio Total</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartDetails)
                        {
                            <tr>
                                <td>@item.Book.BookName</td>
                                <td>
                                    <img src="@(string.IsNullOrEmpty(item.Book.Image) ? "/images/NoImage.png" : $"/images/{item.Book.Image}")" class="img-thumbnail" style="max-width: 80px; max-height: 100px;" alt="Imagen del libro" />
                                </td>
                                <td>@item.Book.Genre.GenreName</td>
                                <td>@item.Book.Price INR</td>
                                <td>@item.Quantity</td>
                                <td>@(item.Book.Price * item.Quantity) INR</td>
                                <td>
                                    <a class="btn btn-info" href="/Cart/AddItem?bookId=@item.BookId&redirect=1">+</a>
                                    <a class="btn btn-info" href="/Cart/RemoveItem?bookId=@item.BookId">-</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="my-2">
                    <h5>Total (INR): @Model.CartDetails.Sum(item => item.Book.Price * item.Quantity)</h5>
                </div>

                <div class="my-2">
                    <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary">Realizar Pedido</a>
                </div>
            }
            else
            {
                <h5>El carrito está vacío</h5>
            }
        </div>
    </div>
</div>
